[Desktop Entry]
Version=1.2.2
Encoding=UTF-8
Name=Cyberfox Web Browser Firejail
Exec=/usr/local/bin/firejail_cyberfox_puppy.sh
Terminal=false
X-MuiltpleArgs=false
Type=Application
Icon=Cyberfox
Categories=Network;WebBrowser;Firejail;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;x-scheme-handler/chrome;video/webm;application/x-xpinstall;
StartupWMClass=Cyberfox
StartupNotify=true
Actions=NewWindow;NewPrivateWindow;
